*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto;
    background-color: #00838f;
    display: flex;
     /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.container {
    flex: 1;
    max-width: 960px;
    margin: 10px;
    text-align: center;   
    color: rgba(70,70,70); 
    background-color: #E1E2E1;
    text-shadow: 1px 1px 1px rgba(250, 250, 250, 0.7); 
    border-radius: 5px;
    padding: 20px 100px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
#items{
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}
#items > p {
    background-color: #bbb;
    height: 35px;
    line-height: 35px;
    margin: 5px 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

#items >p:nth-child(odd) {
    background-color: #d5d5d5;
}
button {
    height: 35px;
    border: 0;
    background-color: #00838f;
    border-radius: 5px;
    padding: 5px 10px;
}

footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
